# ls
alias ls='ls -F'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -al'

# cd
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'

# Vim
alias vi='vim'
alias tweetvim='vim +TweetVimHomeTimeline'
alias tweet='vim +TweetVimCommandSay'
alias agit='vim +Agit'
alias ninst='vim +NeoBundleInstall +qall'
alias nreinst='vim +NeoBundleReinstall +qall'
alias nup='vim +NeoBundleUpdate +qall'
alias ncl='vim +NeoBundleClean +qall'

# Others
alias grep='grep --color'
alias df='df -h'
alias rm='rm -iv'
alias cp='cp -iv'
alias mv='mv -iv'
alias less='less -N'
alias gitsbi='git submodule foreach "echo -e \$name\\\n\$path\\\n\$sha1\\\n"'
alias dsetup='dotsetup'

# Cygwin
if [ $OSTYPE = cygwin ]; then
    source ~/.aliases.cygwin
fi

# Local
if [ -e ~/.local.d/.aliases.local ]; then
    source ~/.local.d/.aliases.local
fi
