[color]
    ui = true

[core]
    attributesfile = ~/.gitattributes.global
    excludesfile = ~/.gitignore.global
    editor = vim
    pager = less
    quotepath = off

[include]
    path = ~/.gitconfig.aliases
    path = ~/.gitconfig.proxy
    path = ~/.local.d/gitconfig.d/userinfo.gitconfig
    path = ~/.local.d/gitconfig.d/credential.gitconfig
    path = ~/.local.d/gitconfig.d/sshinsteadof.gitconfig
    path = ~/.local.d/gitconfig.d/httpspushinsteadof.gitconfig
