root = true
[*]
    charset = utf-8
    end_of_line = lf
    insert_final_newline = true
    trim_trailing_whitespace = true

[{*.{vim,zsh,hs,xbm},.tmux.conf,.{x,z}*,dircolors}]
    indent_style = space
    indent_size = 2

[{*.{md,conf},.X*,Dockerfile,.*ignore}]
    indent_style = space
    indent_size = 4

[*.md]
    trim_trailing_whitespace = false
