[submodule "zaw"]
	path = shell/zsh/.zsh/plugin/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "cd-gitroot"]
	path = shell/zsh/.zsh/function/cd-gitroot
	url = git://github.com/mollifier/cd-gitroot.git
[submodule "zsh-bd"]
	path = shell/zsh/.zsh/plugin/zsh-bd
	url = git://github.com/Tarrasch/zsh-bd.git
[submodule "zsh-completions"]
	path = shell/zsh/.zsh/function/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "cd-bookmark"]
	path = shell/zsh/.zsh/function/cd-bookmark
	url = git://github.com/mollifier/cd-bookmark.git
[submodule "enhancd"]
	path = shell/.sh/plugin/enhancd
	url = git://github.com/b4b4r07/enhancd.git
