[core]
    attributesfile = ~/.gitconf.d/attributes.conf
    excludesfile = ~/.gitconf.d/ignore.conf
    editor = vim
    pager = less
    quotepath = off

[color]
    ui = true

[color "diff"]
    meta = white bold
    frag = cyan
    old = red
    new = green

[pager]
    stash = false

[diff]
    algorithm = histogram

[push]
    default = simple

[help]
    autocorrect = 30

[alias]
    b = branch
    bo = browse # hub
    ch = checkout
    cl = clone
    i = init
    m = merge --no-ff
    p = pull
    ps = push
    sw = show

    # add
    a = add
    aa = add -A
    ap = add -p

    # stash
    st = stash
    stp = stash pop
    sts = stash show

    # commit
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am

    # diff
    d = diff
    dc = diff --cached
    d1 = diff HEAD~

    al = !"git alias"
    cr = !"git check-remote"
    ts = !"git tag"
    bs = !"git branches"
    l = !"git log-custum"
    co = !"git config-custom"
    s = !"git status-custom"

    branches = branch -a
    remotes = remote -v
    stashes = stash list
    tags = tag

    cancel = reset --soft HEAD^
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    unmerged = diff --name-only --diff-filter=U
    amend = commit --amend
    nevermind = !"git reset --hard HEAD && git clean -d -f"
    precommit = diff --cached --diff-algorithm=minimal -w
    alias = !"\
        git config --list |\
        grep 'alias\\.' |\
        sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' |\
        sort | less\
    "
    check-remote = !"\
        [ \"$(git log HEAD)\" = \"$(git log origin/HEAD)\" ] && \
        echo \"up to date\n\" || echo \"local out of date\n\" \
    "
    log-custum = !"\
        git log --graph --date=short --decorate=short\
        --pretty=format:'%C(blue)[%C(reset)%h%C(blue)]%C(reset)%C(blue)[%C(reset)%ad%C(blue)]%C(reset) %C(reset)%s %C(cyan)%d%C(reset) %C(black bold)%an'\
    "
    cofig-custom = !"git config -l | less"
    status-custom = !"git status -s -b && git stash list"

[url "https://"]
    insteadOf = git://

[url "https://github.com/"]
    insteadOf = git@github.com:

[url "https://gitlab.com/"]
    insteadOf = git@gitlab.com:

[url "https://bitbucket.org/"]
    insteadOf = git@bitbucket.org:

[rebase]
    autostash = true

[fetch]
    prune = true

[ghq]
    root = ~/.ghq

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[include]
    path = ~/.gitconf.d/local.conf
