# equivalent to "\C-?": delete-char
"\e[3~": delete-char

# VT
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# kvt
"\e[H": beginning-of-line
"\e[F": end-of-line

# rxvt and konsole (i.e. the KDE-app...)
"\e[7~": beginning-of-line
"\e[8~": end-of-line

# VT220
"\eOH": beginning-of-line
"\eOF": end-of-line

# Bash
$if Bash
  # Basic
  set completion-query-items 100
  # vi mode
  set editing-mode vi
  $if mode=vi
    set keymap vi-command
    Control-l: clear-screen
    set keymap vi-insert
    Control-l: clear-screen
  $endif
  ## Filename completion/expansion
  set completion-ignore-case on
  ## Don't ring bell on completion
  set bell-style none
  ## or, don't beep at me - show me
  set visible-stats on
  ## Expand homedir name
  set expand-tilde on
  # 'Magic Space'
  # Insert a space character then performs
  # a history expansion in the line
  space: magic-space
  "\C-g": " | grep"
  "\C-^": "~/"
  # History
  "\C-p":history-search-backward
  "\C-n":history-search-forward
  "\e[A":history-search-backward
  "\e[B":history-search-forward
  # Others
  set show-all-if-ambiguous on
  set show-all-if-unmodified on
$endif

# MySQL
$if mysql
  "\C-xd": "show databases;"
  "\C-xt": "show tables;"
  "\C-xu": "select user,host,password from mysql.user order by user,host;"
  "\C-xb": "select user,host,db       from mysql.db   order by user,host;"
  "\C-xc": "show create table TN\\G"
$endif
