# XDG
export XDG_{CONFIG,CACHE,DATA}_HOME
XDG_CONFIG_HOME=~/.config
XDG_CACHE_HOME=~/.cache
XDG_DATA_HOME=~/.local/share
[[ ! -d $XDG_CACHE_HOME ]] && mkdir -p $XDG_CACHE_HOME
[[ ! -d $XDG_DATA_HOME ]] && mkdir -p $XDG_DATA_HOME

# fcitx
if type fcitx; then
  export GTK_IM_MODULE=fcitx QT_IM_MODULE=fcitx XMODIFIERS='@im=fcitx'
fi

[[ -d $HOME/.local/bin ]] && export PATH="$PATH:$HOME/.local/bin"

# vim: filetype=sh
