[Unit]
Description=Start dropbox as a daemon

[Service]
Restart=on-failure
ExecStart=/usr/bin/dropbox-cli start
ExecStop=/usr/bin/dropbox-cli stop
RemainAfterExit=yes

[Install]
WantedBy=default.target
