[Unit]
Description=Start expressvpn as a daemon

[Service]
ExecStart=/usr/bin/expressvpn connect
ExecStop=/usr/bin/expressvpn disconnect
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=default.target
