[Unit]
Description=Start offlineimap as a daemon

[Service]
Restart=on-failure
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
RemainAfterExit=yes

[Install]
WantedBy=default.target
